@model KUSYSDemo.Models.Course

<form method="post">
    <div class="border p-3 mt-4 border-secondary">
        <div class="row pb-2">
            <h2 class="text-primary">Create Course</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All">

        </div>*@
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="StudentId"></label>
            <select asp-for="StudentId" class="form-control" asp-items="@(ViewData["StudentList"] as IEnumerable<SelectListItem>)">
                <option selected disabled>Select a Student</option>
            </select>
            <span asp-validation-for="StudentId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-asp-controller="Course" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to the list
        </a>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}